@keyframes loginA {
    0%   {opacity: 0.3;}
    100% {opacity: 1;}
}

.animation-flash {
	animation-name: loginA;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.animation-flash:hover {
	cursor: default;
}

body {
	font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
	font-size: 14px;
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -20;
	background: url("102-darker.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}


/*

+===========================================================+
|                         ANIMACOES                         |
+===========================================================+

*/

.fadeinscalein {
	animation-name: fadeinscalein;
	animation-duration: 1s;
}

.fadeoutscaleout {
	animation-name: fadeoutscaleout;
	animation-duration: 1s;
}

@keyframes carregando {
	0%   {opacity: 0.7; transform: scale(1.0);}
	100% {opacity: 1;   transform: scale(1.015);}
}

@keyframes fadeinscalein {
	0%   {opacity: 0; transform: scale(0.95);}
	100% {opacity: 1;   transform: scale(1);}
}

@keyframes fadeoutscaleout {
	0% {opacity: 1;   transform: scale(1);}
	100%   {opacity: 0; transform: scale(0.95);}
}


